
body, html {
    
    background-image: url('./image/bg3.jpg');
    /* margin: 0; */
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    height: 100%;
    line-height: 21px;
    display: block;
    margin: 0;
    -webkit-font-smoothing: antialiased;

}



h2 {
    float: cneter;
    font-size: 220%;
    font-weight: 500%;
    color: aliceblue;
    
   
}

.content {
    float: cneter;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    letter-spacing:8%
    
}

.timer {
    font-size: 180%;
    line-height: 1.5;
    margin: 1em 0;
    color: whitesmoke;
    letter-spacing:8%;
    
}

.timer b {
    color: #1E90FF;

    
 
}
